<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title></title>
 </head>
 <body>
    
   <h1>Park Ranger: <strong><%= @ranger.name %></strong></h1>
   <h2>
     <strong>Park in charge-of:</strong>
     <%= @ranger.park.name %>
   </h2>
 
 </body>
</html>